
#links:not(:empty)::before,
#domains:not(:empty)::before {
  content: attr(data-content);
  display: flex;
  flex-direction: column;
  color: white;
  text-align:center;
  text-overflow:inherit;
  border-spacing: 1px;
  align-content: center;
}

#links, #domains {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 1em;
  border-style: double;
  padding: 1em;
  overflow-wrap:break-word;
  background: #121212;
  align-content: stretch;
  justify-content: space-evenly;
  /* align-items: center; */
}

#links {
  flex: 3;
  background: #121212;
}

#message::before {
  content: attr(data-content);
  display: none;
  border-style: none;
  align-content: center;
}

#links:not(:empty) ~ #message,
#domains:not(:empty) ~ #message {
  display: none;
  align-content: center;
}

body {
  background: #1a1a1a;
  font-size: medium;
  color: #5a5a5a;
  box-shadow: #ccafaf;
  align-content: center;
}

.content {
  display: flow;
  list-style: selection;
  grid-auto-columns: link;
  flex-wrap: wrap;
  gap: initial;
  padding: 1pt;
}

body.dark-mode {
  background-color: #121212;
  color: #161414;
}

/* Additional styles for alternating background colors and hover effects */
#links div:nth-child(odd), 
#domains div:nth-child(odd) {
  background-color: #3c3c3c;
}

#links div:nth-child(even), 
#domains div:nth-child(even) {
  background-color: #2c2c2c;
}

#links div:hover, 
#domains div:hover {
  background-color: #695d5d;
}

/* Additional styles for footer links */
.footer {
  display: flow;
  position: bottom;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  webkit-text-emphasis-style: enabled;
  padding: 10pt;
  background-color: #0000007a;
  border-top: double 2px #c50101;
}

/* New styles for grid container and animations */
#links > div, #domains > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;
    transition: transform 0.3s;
}
#links > div:hover, #domains > div:hover {
    transform: scale(1.05);
}
