
#links:not(:empty)::before,
#domains:not(:empty)::before {
  content: attr(data-content);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
    text-align:center;
}

#links {
  display: flow;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 1em;
  border-style: double;
  margin: 5px;
  overflow-wrap: break-word;
  background: #101010;
  padding: 2pc;
}

#domains {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 1em;
  border-style: double;
  margin: 3px;
  overflow-wrap:break-word;
  background: #101010;
  padding: 2pc;
}

#message::before {
  content: attr(data-content);
  display: none;
  border-style: none;
  align-content: center;
}

#links:not(:empty) ~ #message,
#domains:not(:empty) ~ #message {
  display: flex;
  align-content: center;
}

.header {
  font-family: 'Rajdhani', sans-serif;
  color: #fff;
  font-size: xxx-large;
  margin:auto;
  box-shadow: #8c8c8c
}

body {
  background: rgb(0 0 0 / 90%);
  font-size: medium;
  color: #f1f1f1;
  box-shadow: chocolate;
  font-family: 'Exo 2', sans-serif;
}

/* Additional styles for alternating background colors and hover effects */
#links div:nth-child(odd), 
#domains div:nth-child(odd) {
  background-color: #4f4f4f;
}

#links div:nth-child(even), 
#domains div:nth-child(even) {
  background-color: #626262;
}

#links div:hover, 
#domains div:hover {
  background-color: #846f6f;
}

/* Additional styles for footer links */
.footer {
  position: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10pt;
  background-color: #0000007a;
  border-top: double 2px #c50101;
  font-family: 'Rajdhani', 14pt, sans-serif;
  width: 95%;
}

/* New styles for grid container and animations */
.list {
    display: grid;
    flex-wrap: nowrap;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1px;
    padding: 1px;
    transition: transform 0.3s;
}
.list {
    transform: scale(1.0);
}


/* Target each link in the links section */
#links > a {
    display:block;  /* Makes the link occupy the entire width */
    flex-wrap: nowrap;
    padding: .1px;    /* Some padding for visual space */
    position: relative;  /* Needed for positioning the number */
}

/* Alternate background colors */
#links > a:nth-child(odd) {
    background-color: #1a1a1a;  /* Dark grey, almost black */
}

#links > a:nth-child(even) {
    background-color: #333333;  /* Lighter grey */
}

/* Hover effect */
#links > a:hover {
    background-color: #444444;  /* A shade lighter than the darker grey */
}

#domains > a:nth-child(odd) {
    background-color: #1a1a1a;  /* Dark grey, almost black */
}

#domains > a:nth-child(even) {
    background-color: #333333;  /* Lighter grey */
}

#domains > a:hover {
    background-color: #444444;  /* A shade lighter than the darker grey */
}

a {
    color: #838383; /* Golden color for better visibility in dark mode */
}

a:visited {
    color: #A9A9A9; /* Keeping the same color for visited links */
}

#domains > div:nth-child(odd) {
    background-color: #1a1a1a;  /* Dark grey, almost black */
}

#domains > div:nth-child(even) {
    background-color: #333333;  /* Lighter grey */
}

#domains > div:hover {
    background-color: #444444;  /* A shade lighter than the darker grey */
}

#domains div:nth-child(odd) {
    background-color: #1a1a1a;  /* Dark grey, almost black */
}

#domains div:nth-child(even) {
    background-color: #333333;  /* Lighter grey */
}

#domains div:hover {
    background-color: #444444;  /* A shade lighter than the darker grey */
}

#domains > div:nth-child(odd) {
    background-color: #1a1a1a;  /* Dark grey, almost black */
}

#domains > div:nth-child(even) {
    background-color: #333333;  /* Lighter grey */
}

#domains > div:hover {
    background-color: #444444;  /* A shade lighter than the darker grey */
}

#domains > div:nth-child(odd) {
    background-color: #1a1a1a;  /* Dark grey, almost black */
}

#domains > div:nth-child(even) {
    background-color: #333333;  /* Lighter grey */
}

#domains > div:hover {
    background-color: #444444;  /* A shade lighter than the darker grey */
}
/* Style for theme toggle */
#theme-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#theme-switch {
    display: block;
}

#theme-switch + label {
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

#theme-switch:checked + label {
    transform: scaleX(-1); /* flip the label horizontally when checkbox is checked */
}

#theme-switch + label {
    opacity: 0.7;  /* Reduced opacity for a more subtle appearance */
}

/* Light mode styles when the theme switch checkbox is checked */
.light-mode header {
    background-color: #9c9494;
    color: #8f8f8f;
}

html.light-mode body {
    background: #000000;
    color: #7a6c6c;
}

.light-mode #links {
    background: #bbbbbb;
}
 
.light-mode #domains {
    background: #969696;
}


.light-mode #links a:nth-child(odd), 
.light-mode #domains a:nth-child(odd) {
    background-color: #c9c9c9;
}

.light-mode #links a:nth-child(even), 
.light-mode #domains a:nth-child(even) {
    background-color: #eeeeee;
}

.light-mode #links a:hover, 
.light-mode #domains a:hover {
    background-color: #8f8f8f;
}

html.light-mode a {
    color: #555;
}

html.light-mode .footer {
    background-color: #ddd;
    border-top: double 2px #555;
}

/* New Toggle Button Styles */
toggleButton_MMFG {
    background-color: #transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

lightToggleIcon_lgto,
darkToggleIcon_U96C {
    display: none;  /* By default, both icons are hidden */
}

body:not(.light-mode) .lightToggleIcon_lgto {
    display: inline-block;  /* Show light icon in dark mode */
}

body.light-mode darkToggleIcon_U96C {
    display: inline-block;  /* Show dark icon in light mode */
}

/* Light Mode Styles */
body.light-mode {
    background-color: #979797;
    color: #5c5151;
}

/* You can continue to add other specific styles for light mode here. For instance: */
body.light-mode .header {
    background-color: #c0c0c0;
    border: defined;
    border-block-style: default;
    color: #1a1a1a
}

.colorModeToggle_Hewu {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;  /* Ensure it's above other elements */
}


.colorModeToggle img {
    width: 28px;
    height: 28px;
}


.light-mode {
    background-color: #d3d3d3;
    color: #dcdcdc;
}

.light-mode #links {
  background-color: #f1f1f1
}


.light-mode #domains {
  background-color: #f1f1f1
}

.light-mode a {
    color: #000000;
    padding-left: 5px;
}

.light-mode a:hover {
    color: #cecdcd;
}

.light-mode .footer {
  background-color: #4d4d4d
}


/* Added styles from inline HTML */
.header {
    text-align: center;
    padding: 10px;
    background-color: #111;
}

