#links:not(:empty)::before,
#domains:not(:empty)::before {
  content: attr(data-content); 
  display: block;
  margin-bottom: 1em;
  color:white;
  text-align: center;
  border-spacing: 3px;
}

#links {
  display: flow;
  margin-top: 1em;
  border-style: none;
  background: #00000030;
}

#domains {
  display: block;
  margin-top: 1em;
  border-style: double;
  background: #1e151596;
}

#message::before {
  content: attr(data-content);
  border-style: double;
  display: block; 
}

#links:not(:empty) ~ #message,
#domains:not(:empty) ~ #message {
  display: none;
}

body {
  background: #1a1a1a;
  font-size: medium;
}
