.container {
  display: flex-wrap;
  flex-direction: column;
  border-block-style: inherit
}

.container > button {
  white-space: nowrap;
}
.container > button:not(:last-child) {
  margin-bottom: .5em;
  shape-rendering: optimizespeed
}
